$black: #000000;
$indigo: #1E1A65;
$lavender: #433DAD;
$yellow: #F9F871;
$white: #fff;

$body-font-size: 16px;
$h1-font-size: 3rem;
$work-sans: 'Work Sans', sans-serif;
$darker-grotesque: 'Darker Grotesque', sans-serif;
$spg-regular: 'Sporting Grotesque_Regular', sans-serif;
$spg-bold: 'Sporting Grotesque_Bold', sans-serif;
