@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';

@import './fonts';
@import './variables';

body {
    font-size: $body-font-size;
    font-family: $work-sans;
    color: $black;
}

.fullscreen-columns {
    height: 100vh;
    margin: 0;

    @media screen and (max-width: $tablet) {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    &:last-child {
        margin: 0;
    }

    .column {
        padding: 0;
    }
}

h1 {
    color: $indigo;
    font-family: $spg-bold;
    font-size: $h1-font-size;
}

a {
    position: relative;
    font-family: $spg-bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.7rem;
    color: $lavender;
    transition: 0.4s ease;
    background-size: 200%;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $yellow 0);

    &:hover {
        color: $black;
        background-position: -100%;
    }
}

.button-link {
    font-size: 1rem;
}

.fullscreen--left-column {
    overflow-y: scroll;

    @media screen and (max-width: $tablet) {
        overflow-y: unset;
    }

    section {
        padding: 8vw 4vw;
    
        @media screen and (max-width: $tablet) {
            padding: 10vw 8vw;
        }
    
        h1 {
            font-weight: 700;
            margin-bottom: 2rem;

            @media screen and (max-width: $tablet) {
                font-size: 1.6rem;
            }
        }

        h2 {
            font-family: $spg-bold;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-size: 1rem;
            color: $lavender;
        }

        figure {
            text-align: center;
        }
    
        p, pre, figure {
            margin-bottom: 3rem;
        }

        pre, figure {
            margin-left: -4vw;
            margin-right: -4vw;

            @media screen and (max-width: $tablet) {
                margin-left: -8vw;
                margin-right: -8vw;
            }
        }

        code, a code, code a {
            text-transform: none;
            padding: 0 0.2rem;
            background: none;
            font-family: 'dm', monospace;
            color: $lavender;
            font-size: 1rem;
        }

        a code, code a {
            text-decoration: underline;
        }

        pre, pre code {
            background: #011627;
        }

        pre code.hljs {
            color: #d6deeb;
            font-size: 0.9rem;
            padding: 4vw 0;

            @media screen and (max-width: $tablet) {
                padding: 10vw 8vw;
            }
        }

        pre {
            overflow-x: hidden;
            padding: 0;
        }

        .button-container {
            padding-top: 1rem;
        }
    }
}

.fullscreen--right-column {
    position: relative;

    figure {
        height: 100%;
        width: 100%;

        figcaption {
            z-index: 2;
            max-width: 300px;
            position: absolute;
            left: 4vw;
            bottom: 4vw;
            color: $white;
            font-size: 1.2rem;

            @media screen and (max-width: $tablet) {
                left: 8vw;
                bottom: 8vw;
            }

            a {
                font-size: 0.9rem;
                color: $white;

                &:hover {
                    color: $black;
                }
            }
        }
    }
}

.social-links {
    z-index: 2;
    position: absolute;
    left: 4vw;
    top: 4vw;

    @media screen and (max-width: $tablet) {
        left: 8vw;
        top: 8vw;
    }

    a {
        background: none;
        margin-right: 1.4rem;
    }
}

.full-img {
    vertical-align: top;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.hide-desktop {
    display: none;

    @media screen and (max-width: $tablet) {
        display: block;
    }
}

article {
    header, p, code {
        max-width: 700px;
        margin: 0 auto;
    }

    img {
        max-width: 900px;
    }
}

.home-link {
    margin-bottom: 1rem;
}
